<!DOCTYPE html>
<html>
<head>
    <title>Картошко-пушки</title>
    <link rel="stylesheet" href="/static/css/style_potatoes.css">
    <meta charset="utf-8">
</head>
<body>
    <h1>{{ message }}</h1>
    <a href="/" class="button">Вернуться на главную</a>

    <style>
        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            margin-top: 20px;
        }
        .button:hover {
            background-color: #45a049;
        }
    </style>
</body>
</html>